# 환경 변수 파일
.env
.env.local
.env.*.local

# 노드 모듈 (필요시)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 운영 체제 파일
.DS_Store
Thumbs.db

# IDE 설정
.vscode/
.idea/
*.swp
*.swo

# 기타
token.txt
.git
